<% layout("/layouts/boilerplate.ejs") %>

<div class="row mt-3">
  <div class="col-8 offset-2">

    <h3>Edit Your Item</h3>
    <form method="POST" action="/items/<%= item._id %>?_method=PUT" enctype="multipart/form-data">
      
      <!-- Title -->
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input type="text" name="item[title]" value="<%= item.title %>" class="form-control" required>
      </div>

      <!-- Description -->
      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea name="item[description]" class="form-control" required><%= item.description %></textarea>
      </div>

      <!-- Image URL -->
      <div class="mb-3">
        <label for="image" class="form-label">Upload New Image</label>
        <input
          name="item[image]"
          id="image"
          value="<%= item.image.url %>"
          type="file"
          class="form-control"
        />
      </div>

      <!-- Type -->
      <div class="mb-3">
        <label for="type" class="form-label">Type</label>
        <select name="item[type]" class="form-select" required>
          <option value="give" <%= item.type === 'give' ? 'selected' : '' %>>Give</option>
          <option value="lend" <%= item.type === 'lend' ? 'selected' : '' %>>Lend</option>
          <option value="request" <%= item.type === 'request' ? 'selected' : '' %>>Request</option>
        </select>
      </div>

      <!-- Location -->
      <div class="mb-3">
        <label for="location" class="form-label">Location</label>
        <input type="text" name="item[location]" value="<%= item.location %>" class="form-control" required>
      </div>

      <button class="btn btn-dark edit-btn mt-3">Update Item</button>
    </form>
    
    <script src="/js/script.js"></script>
  </div>
</div>
